<div class="container">
  <h1>Tiny Projects</h1>
  <h4>Not all apps need to be big. These are smaller apps and pages that I've made, often for the sake of learning and practicing new technologies.</h4>
  <br>
  
  <!-- About Me one page app -->
  <h2>
    <a href="http://about-annie.divshot.io/">About Me</a>
  </h2>
  <a href="https://github.com/apennell/about_me_page">GitHub Repo</a>
  <p>
    February 2015 | HTML, CSS, jQuery, AJAX<br>
    This static page was created as an application assignment for the General Assembly Web Development Immersive course.
  </p>
  <br>
  
  <!-- tic tac toe app -->
  <h2>
    <a href="http://tictactoe-by-annie.divshot.io/">TicTacToe</a>
  </h2>
  <a href="https://github.com/apennell/tictactoe">GitHub Repo</a>
  <p>
    March 2015 | JavaScript, jQuery, HTML, CSS<br>
    This TicTacToe project was my first venture into building a functioning app with JavaScript.
  </p>
</div>


