<div class="container">
  <h1>Create</h1>

  <a href="https://createtoday.herokuapp.com/">Visit App</a>
  <br>
  <a href="https://github.com/apennell/create_app">GitHub Repository</a>
  <br>
  <p>Created April 2015</p>
  <br>
  <p>
    <strong>[more on scope/mvp]</strong><br>
    Create is a daily art prompt web app built with Node.js, Express, Postgres, and Bootstrap, integrating authentication and authorization. Utilizing Wordnik’s API, a new word appears every day to provide inspiration to create something, which can then be uploaded to a user’s account and viewed by anyone.
  </p>
  <br><br>
  <strong>[add contribute page screenshot, make smaller thumbnails and expand photos when clicked]</strong><br><br>
  <%= image_tag 'create/create1.png', :alt => 'Home Screenshot' %><br><br>
  <%= image_tag 'create/create2.png', :alt => 'Home Screenshot' %><br><br>
  <%= image_tag 'create/create3.png', :alt => 'Profile Screenshot' %>
  <br><br>
  <p>
    <strong>Create's future</strong>
    <br>
    I would like to add image upload functionality to so that visual artists can contribute to Create's online community as well, as this was my initial vision for the app. Once this is completed, there will be a visual design overhaul to the site, displaying thumbnails for each contribution. Additionally, users will have a profile photo. After this, I want to implement the capability for users to "favorite" and follow other users. The final key function I hope to add is a prompt model to the database, which would automatically add the word of the day to the table daily, then add association to a creation and a specific prompt. After this is implemented, users will be able to browse and search creations by prompt.
  </p>
</div>