<div class="container">
  <h1>Epoch</h1>

  <strong><a href="https://github.com/apennell/timebank">GitHub Repository</a> | <a href="https://epochbank.herokuapp.com/">Visit App</a></strong>
  <br>
  <p>Created April 2015</p>
  <br>
  <p>
    Epoch is a time banking web app built with Ruby on Rails, utilizing AJAX, Bootstrap, Devise, and Twilio's API. Epoch was built by myself, James Bradley, Lyn Muldrow, and Steven Gordon. In addition to acting as project manager for three other engineers, my main tasks were authentication and authorization, constructing the User controller and views, and styling.
  </p>
  <p>
    Epoch allows users to receive services using the currency of their time, which is earned by providing other users with their own services. Every hour of work completed is removed from the recipient's account and added to the provider's, which can then be spent getting help from another user. Users sign up for the Epoch web app and act as both a provider and recipient. They list services they can provide as well as services they need. Users can offer to render a service wanted or request that a specific user help them. When a request is made, a text message alert is sent to the the user receiving the request. An exchange page is generated when a request is made and, once accepted, they receive each other's contact information. After service is rendered, this is confirmed on the site and the hour is transferred from the recipient to the provider's time bank. A text message alert is sent to the user at each of the 4 stages of the exchange process--when it is proposed, accepted, delivered, and confirmed. 
  </p>
  <div class="row">
    <div class="col-xs-12 col-md-6 thumbnail">
      <%= image_tag 'epoch/epoch1.png', :alt => 'Home Screenshot' %>
    </div>
    <div class="col-xs-12 col-md-6 thumbnail">
      <%= image_tag 'epoch/epoch2.png', :alt => 'Dashboard' %>
    </div>
    <div class="col-xs-12 col-md-6 thumbnail">
      <%= image_tag 'epoch/epoch3.png', :alt => 'Requests' %>
    </div>
    <div class="col-xs-12 col-md-6 thumbnail">
      <%= image_tag 'epoch/epoch4.png', :alt => 'Exchange' %>
    </div>
  </div>

  <br><br>

  <p>
    <strong>Epoch's future</strong>
  </p>
  <p>
    The main functionality we'd like to add, and were just on the cusp of finishing, is enable two way initiation of an exchange so that a user can request help from another whose profile lists the necessary skills. We would also like to add a search functionality so that a user can search for an view profiles and requests by category of service and location. 
  </p>
</div>