<div class="container">
  <h1>MindKit</h1>

  <strong><a href="https://github.com/apennell/mindKit">GitHub Repository</a></strong>
  <br>
  <p>Created June 2015</p>
  <br>
  <p>
    MindKit is a hybrid mobile app that acts as a toolkit for combating depression on a daily basis, largely through the use of cognitive behavioral therapy (CBT). It is built with Ionic using AngularJS and the database is connected with a NodeJS, Express, and PostgreSQL backend API. It is currently in beta in the Ionic View app, but once completed will be available for iOS and Android.
  </p>
  <p>
    The initial MVP is the thought log, in which Ionic-Wizard takes the user through a series of questions typical of a CBT automatic negative thought log to analyze a situation and their resulting thoughts and emotions. In the final step, the user is presented with their initial emotions and the strengths at which they reported feeling them and is asked to re-rate the emotions after going through the thought log. The differences between the initial and new emotions are averaged out and the user is shown the percentage of their improvement on this situation. They are also shown a lifetime improvement average and a graph of each entry's improvement on their progress page to see how the exercises are helping.
  </p>
  <br><br>
  <div class="row">
    <div class="col-xs-12 col-md-4 thumbnail">
      <%= image_tag 'mindkit/mindkit1.png', :alt => 'Home Screenshot' %>
    </div>

    <div class="col-xs-12 col-md-4 thumbnail">
      <%= image_tag 'mindkit/mindkit2.png', :alt => 'Thought Log Screenshot' %>
    </div>

    <div class="col-xs-12 col-md-4 thumbnail">
      <%= image_tag 'mindkit/mindkit3.png', :alt => 'Progress Screenshot' %>
    </div>
  </div>

  <br><br>
  
  <p>
    <strong>MindKit's future</strong>
    <br>
    There are many additional tools I plan to implement in this app. The first is a set of positive self-affirmations, displayed with Ionic's slide function. The user can add his/her own affirmations and swipe through them to improve self-image and self-talk. I would also like to add a quick daily check in and weekly goal-setting.
  </p>
</div>