<div class="col-md-8 col-md-offset-2">
  <div class="well">
    <h3>A bit about me</h3>
    <p>
      After several years in New Orleans working as a photographer, photo retoucher, and fine art print specialist, I returned to my roots in the Bay Area and am beginning a career as a full stack web developer. There are so many amazing companies here doing great things and I love the flexibility of industries the programmer skill set allows me to be a part of. I believe being a developer is the best way for me to make a positive contribution to the world.
      <br><br>
      I'll complete General Assembly's Web Development Immersive in early June 2015, where I am training to be a full stack web developer. I am currently mastering JavaScript, Node.js, Ruby on Rails, and related frameworks and tools and am excited to take off on my new career path!
    </p>
  </div>
  <div>
    Still interested in learning more about me? Want to hear some nice things other people have to say? Curious about my early experiments with HTML, CSS, jQuery, and AJAX? Check out <a href="http://about-annie.divshot.io/">this about me page</a> that I made.
  </div>
  <br>
  <br>
  <div>
    <center>
      <a href="https://github.com/apennell"><i class="fa fa-github fa-2x"></i>&nbsp; &nbsp;</a>
      <a href="https://www.linkedin.com/in/anniepennell"><i class="fa fa-linkedin fa-2x"></i>&nbsp; &nbsp;</a>
      <a href="https://angel.co/annie-pennell"><i class="fa fa-angellist fa-2x"></i>&nbsp; &nbsp;</a>
      <a href="http://photography.anniepennell.com/"><i class="fa fa-camera-retro fa-2x"></i></a>
    </center>
  </div>
</div>
