<div class="col-md-6 col-md-offset-3">
  <div class="well">
    <center>
      <h3>Ready to hire me or just want to chat?</h3>
      <h4>
        Shoot me a line!<br>
        anniecpennell@gmail.com
      </h4>
    </center>
  </div>
</div>