<div class="col-md-4 col-md-offset-1">
  <div class="panel panel-success">
    <div class="panel-body">
      <center>
        <a href="https://github.com/apennell"><i class="fa fa-github fa-2x"></i></a>
        &nbsp; &nbsp; &nbsp;
        <a href="https://www.linkedin.com/in/anniepennell"><i class="fa fa-linkedin fa-2x"></i></a>
        &nbsp; &nbsp; &nbsp;
        <a href="https://angel.co/annie-pennell"><i class="fa fa-angellist fa-2x"></i></a>
        &nbsp; &nbsp; &nbsp;
        <a href="http://photography.anniepennell.com/"><i class="fa fa-camera-retro fa-2x"></i></a>
      </center>
    </div>
  </div>

  <!-- skills panel -->
  <div class="panel panel-success">
    <div class="panel-heading">
      Skills
    </div>
    <div class="panel-body">
      <h4>Languages</h4>
      <p>
        JavaScript<br>
        Ruby<br>
        HTML<br>
        CSS<br>
      </p>
      <br>
      <h4>Frameworks</h4>
      <p>
        Node.js<br>
        Express.js<br>
        Rails<br>
        Angular<br>
      </p>
      <br>
      <h4>Database Tools</h4>
      <p>
        SQL<br>
        PostgreSL<br>
        Sequelize<br>
      </p>
      <br>
      <h4>Other</h4>
      <p>
        jQuery<br>
        AJAX<br>
        RSpec<br>
        Bootstrap<br>
        Git/GitHub<br>
        Heroku<br>
        Wordpress + Joomla<br>
        Adobe CS5 + 6
        Photography
      </p>
    </div>
  </div>

  <!-- education panel -->
  <div class="panel panel-success">
    <div class="panel-heading">
      Education
    </div>
    <div class="panel-body">
      <h4>General Assembly</h4>
      <p>
        <i>Web Development Immersive</i><br>
        March - June 2015
      </p>
      <br>
      <h4>Johnston Center for Integrative Studies, University of Redlands</h4>
      <p>
        <i>BA in Photography, Writing, + the Human Experience</i><br>
        2011<br>
      </p>
      <br>
      <h4>SIT World Learning, Study Abroad</h4>
      <p>
        <i>Morocco: Culture + Society</i><br>
        September - December 2009<br>
      </p>
    </div>
  </div>

  <!-- references panel -->
  <div class="panel panel-success">
    <div class="panel-heading">
      References
    </div>
    <div class="panel-body">
      <p>Want to hear nice things employers and professors have had to say about me in the past? Check out them out in this <strong><a href="http://about-annie.divshot.io/">about me</a></strong> page that I made.</p>
    </div>
  </div>
</div>

<!-- relevant experience panel -->
<div class="col-md-6">
  <div class="panel panel-success">
    <div class="panel-heading">
      Relevant Experience
    </div>
    <div class="panel-body">
      <h4>Student</h4>
      <h5>General Assembly Web Development Immersive | March to June 2015</h5>
      <p>
        Full time, 12-week full stack web development course building fluency in JavaScript, Node.js, and Ruby on Rails, among other frameworks and tools, resulting in a work-ready skillset.
      </p>
    </div>
  </div>
</div>

<!-- projects panel -->
<div class="col-md-6">
  <div class="panel panel-success">
    <div class="panel-heading">
      Projects
    </div>
    <div class="panel-body">
      <!-- mindkit -->
      <h4><%= link_to "MindKit", portfolio_mindkit_path %></h4>
      <h5><a href="https://github.com/apennell/mindKit">GitHub Repo</a></h5>
      <p>
        MindKit is a hybrid mobile app built with Ionic and AngularJS. The backend database is an API built with Node.js, Express, and PostgreSQL. It has a variety of tools for combating depression, namely the cognitive behavioral therapy automatic negative thought log, which guides the user through a series of questions using Ionic-Wizard, ultimately analyzing and tracking their improvement resulting from the exercise.
      </p>
      <br>
      <!-- create -->
      <h4><%= link_to "Create", portfolio_create_path %></h4>
      <h5><a href="https://createtoday.herokuapp.com/">Live Site</a> | <a href="https://github.com/apennell/create_app">GitHub Repo</a></h5>
      <p>
        Create is a daily art prompt web app built using JavaScript, Node.js, Express, and PostgreSQL, and integrating authentication and authorization. Utilizing Wordnik’s API, a new word appears every day to provide inspiration to create art, which can then be uploaded to a user’s account and viewed by anyone. 
      </p>
      <br>
      <!-- epoch -->
      <h4><%= link_to "Epoch", portfolio_epoch_path %></h4>
      <h5><a href="https://epochbank.herokuapp.com/">Live Site</a> | <a href="https://github.com/apennell/timebank">GitHub Repo</a></h5>
      <p>
        Epoch is a time banking web app built with Ruby on Rails, utilizing AJAX, Devise, and Twilio’s API. In addition to acting as project manager for three other engineers, my main tasks were authentication and authorization, constructing the User controller and views, and styling.
      </p>
    </div>
  </div>
</div>

<!-- work experience panel -->
<div class="col-md-6">
  <div class="panel panel-success">
    <div class="panel-heading">
      Work Experience
    </div>
    <div class="panel-body">
      <h4>Operations Associate</h4>
      <p>Twice | January to March 2015</p>
      <br>
      <h4>Fine Art Print Specialist</h4>
      <p>Lakeside Camera Photoworks | September 2012 - November 2014</p>
      <br>
      <h4>Freelance Photographer</h4>
      <p>Self-Employed | April 2012 to November 2014</p>
      <br>
      <h4>Assistant Manager</h4>
      <p>Langford Market | September 2011 to July 2012</p>
    </div>
  </div>
</div>

<div class="col-md-6">
  <br><br><br><br><br><br><br><br><br><br><br>
</div>

<!-- references panel -->
<!-- <div class="col-md-6 col-md-push-5 col-lg-6 col-lg-push-0">
  <div class="panel panel-success">
    <div class="panel-heading">
      References
    </div>
    <div class="panel-body">
      <p>Want to hear nice things employers and professors have had to say about me in the past? Check out them out in <a href="http://about-annie.divshot.io/">this about me page</a> that I made.</p>
    </div>
  </div>
  <br>
  <br>
  <br>
</div> -->