<center><h1>hello world.</h1></center>
<center><h2>i'm annie.</h2></center>
<center><h3>i'm a full stack developer.</h3></center>
<center><h4>i really love design. this site is going to look great soon, trust me!<br>right now it's a work in progress, though.<br>get excited for something amazing, and in the meantime<br>explore the content and get to know me as a developer.</h4></center>
<br>
<center><a href="https://github.com/apennell"><i class="fa fa-github fa-2x"></i>&nbsp; &nbsp;</a>
<a href="https://www.linkedin.com/in/anniepennell"><i class="fa fa-linkedin fa-2x"></i>&nbsp; &nbsp;</a>
<a href="https://angel.co/annie-pennell"><i class="fa fa-angellist fa-2x"></i></a></center>
