// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fa-github-square {
  font-size: 20em;
}

.panel > .panel-heading {
    background-image: none;
    background-color: #634A68;
    color: white;
}

.panel {
  border-color: #634A68;
}