<!-- <div id="footer">
  <div class="container">
    <p class="text-muted">© Copyright 2015 Annie Pennell</p>
  </div>
</div> -->

<footer class="footer">
  <div class="container">
    <p class="text-muted">© Copyright 2015 Annie Pennell</p>
  </div>
</footer>
